h1 {
    font-size:32px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:Center;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}
footer {
    text-align:center;
}